<p id="notice"><%= notice %></p>

<p>
  <strong>Github username:</strong>
  <%= @account.github_username %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
